/* Cairo Start */

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/custom-sans/black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/custom-sans/extra-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/custom-sans/bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/custom-sans/semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/custom-sans/medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/custom-sans/regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/custom-sans/light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/custom-sans/extra-light.woff2') format('woff2');
  font-display: swap;
}

/* Cairo End */
